# Files
*.xlsx
*.csv

# Terraform
*.tfstate
*.backup
*.hcl
*.terraform
*.info

# zip files created by terraform
lambda_functions/scraper_function/*.zip
lambda_functions/cleaning_function/*.zip
lambda_functions/upload_redshift_function/*.zip

# Python logs / not necessary files
__pycache__
.pytest_cache

# SSH Keys
ec2key
*.pub

# Container files
flask_api/containers.json
flask_api/public-endpoint.json
flask_api/deploy_commands.txt
# This docker compose file is just for testing. Everything will be runned inside a AWS lighstsail container
flask_api/docker-compose.yml