# Files
*.xlsx
*.csv

# Terraform
*.tfstate
*.backup
*.hcl
*.terraform
*.info

# zip files created by terraform
scraper_function/*.zip
cleaning_function/*.zip

# Python logs / not necessary files
__pycache__

# SSH Keys
ec2key
*.pub